/* * {
  border: pink solid 1px;
} */

body {
  background-color: #121212;
  color: #EAF2EF;
}

main {
  height: 100vh;
  border-top: #CFBB6D solid 1px;
}

.main-row {
  height: 100%;
}

/* Search Column */
.search-column {
  border-right: #333333 solid 1px;
}

/* Search */

#search {
  background-color: #1e1e1e; 
  border: #333333 solid 1px;
  color: #EAF2EF;
}

/* Search Results */
.past {
  background-color: #1e1e1e; 
  border: #333333 solid 1px;
}

/* Reports */

.report {
  height: 33.3%;
}

/* Todays Weather */

.card {
  background-color: #1e1e1e; 
  border: #333333 solid 1px;
  width: 100%;
}



/* Five Day */

.card-img {
  height: 100px;
  width: auto;
}